/* * {
    border: 1px solid black;
} */

/* Ensure scrollbar track is transparent */
.scrollbar-track-transparent::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-track-transparent {
  scrollbar-color: var(--scrollbar-thumb, rgb(107 114 128)) transparent;
}